.tishiFontTk{
	background-image:url(../../../App_Image/Admin/tishi.gif);
	background-position:14 top;
	background-repeat:no-repeat;
	padding-left:134px;
	height:51px;
	border-color:#E2C3B1;
	border-width:1px;
	border-style:solid;
	background-color:#FFFCF3;
	color:#F5610B;
	margin-top:4px;
	width:486px;
}